@charset "utf-8";
/* CSS Document */
.badgeos_backpack_action{
border-bottom:1px dotted #AAA;
margin: 0 auto;
padding-bottom: 10px;	
text-align: right;
}

.badgeos_backpack_action .button {
background: #2EA2CC;
border-color: #0074A2;
-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
color: #FFF;
text-decoration: none;
display: inline-block;
text-decoration: none;
font-size: 13px;
line-height: 26px;
height: 28px;
margin: 0;
padding: 0 10px 1px;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-appearance: none;
-webkit-border-radius: 3px;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.badgeos_backpack_action .button:hover{
background: #1E8CBE;
border-color: #0074A2;
-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
color: #FFF;
text-decoration:none;
}
.badgeos_backpack_action .button[disabled] {
color: #94CDE7!important;
background: #298CBA!important;
border-color: #1B607F!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1)!important;
cursor: default;
text-decoration:none;
}
.badgeos_backpack_action input[type=checkbox]{
border: 1px solid #BBB;
background: #FFF;
color: #555;
clear: none;
cursor: pointer;
display: inline-block;
line-height: 0;
height: 16px;
margin: -4px 4px 0 0;
outline: 0;
padding: 0!important;
text-align: center;
vertical-align: middle;
width: 16px;
min-width: 16px;
-webkit-appearance: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-transition: .05s border-color ease-in-out;
transition: .05s border-color ease-in-out;
margin-left:13px;
display:none;
}

.badgeos_backpack_action input[type=checkbox]:checked:before {
float: left;
display: inline-block;
vertical-align: middle;
width: 16px;
font: 400 21px/1 dashicons;
speak: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: '\f147';
margin: -3px 0 0 -4px;
color: #1E8CBE;
}


.badgeos-achievements-list-item {
border-bottom:none !important;	
}
.badgeos-issue-email{
	font-weight:bold;
	font-style:italic;
}